/* Style the body */
body{
    height: 100vh;
    background-color:rgba(200,200,200,0.2);
}
*{
    background-color:rgba(200,200,200,0.2);
}

/* Style the header */
header {
}
/* Style the footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    text-align: left;
  }